.luogo{
    float: right;
    margin-right: 5%;
}

.destra{
    float: right !important;
    margin-right: 5px;
    margin-bottom: auto;
}

.box-info{
    padding: 50px
}

.info-post{
    text-align: center;
}

.annulla{
    display: none;
}

.annuncio-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: auto;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
    float: right;
}

.edit-annuncio {
    width: 80%;
    max-width: none;
}

@media (max-width: 575px) {
    .edit-annuncio {
        width: auto;
    }
}

.modal-header.arancio {
    background-color: #ff6c00;
}

.modal-header.arancio > h5 {
    color: white;
}

.annuncio-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.annuncio-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.annuncio-img {
    text-align: center;
}

.annuncio-img img {
    width: 70%;
}

.form-width > div > div > label {
    width: 90%;
}

.no-padding-top {
    padding-top: 0 !important;
}

.link-profile{
    color: black;
    font-weight: bold;
}

.link-profile:hover{
    color: #ff6c00;
    text-decoration: none;
}

.ombra-venduto{
    box-shadow: 0 1px 5px #ffd206 !important;
}

.ombra-eliminato{
    box-shadow: 0 1px 5px red !important;
}

/*radio button*/
.myform {
    max-width: 250px;
    position: relative;
    margin: 50px auto 0;
    font-size: 15px;
}

.radiobtn {
    position: relative;
    display: block;
}

.radiobtn label {
    display: block;
    background: #fee8c3;
    color: #444;
    border-radius: 5px;
    padding: 10px 20px;
    border: 2px solid #fdd591;
    margin-bottom: 5px;
    cursor: pointer;
}

.radiobtn label:after, .radiobtn label:before {
    content: "";
    position: absolute;
    right: 11px;
    top: 11px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: #fdcb77;
}

.radiobtn label:before {
    background: transparent;
    transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    transition: 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
    z-index: 2;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center;
    width: 0;
    height: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
}

.radiobtn input[type="radio"] {
    display: none;
    position: absolute;
    width: 100%;
    appearance: none;
}

.radiobtn input[type="radio"]:checked + label {
    background: #fdcb77;
    animation-name: blink;
    animation-duration: 1s;
    border-color: #fcae2c;
}

.radiobtn input[type="radio"]:checked + label:after {
    background: #fcae2c;
}

.radiobtn input[type="radio"]:checked + label:before {
    width: 20px;
    height: 20px;
}

@keyframes blink {
    0% {
        background-color: #fdcb77;
    }
    10% {
        background-color: #fdcb77;
    }
    11% {
        background-color: #fdd591;
    }
    29% {
        background-color: #fdd591;
    }
    30% {
        background-color: #fdcb77;
    }
    50% {
        background-color: #fdd591;
    }
    45% {
        background-color: #fdcb77;
    }
    50% {
        background-color: #fdd591;
    }
    100% {
        background-color: #fdcb77;
    }
}
