.emp-profile {
    padding: 3%;
    margin-top: 1%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 70%;
    height: 100%;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #ff6c00;
    margin-bottom: 20px;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: auto;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
    float: right;
}

.profile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 1%;
    margin-bottom: 1%;
}

.profile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs {
    margin-top: 5%;
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #ff6c00;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work .profile-title {
    font-size: 14px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work p {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 1%;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #ff6c00;
}

.nav-link {
    color: #ff6c00;
}

.nav-link:hover {
    color: #ff3200;
}

@media (max-width: 767px) {
    .profile-work-hiding {
        display: none;
    }

    .profile-work {
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .hidden-block {
        display: none;
    }

    .profile-work {
        white-space: nowrap;
    }
}

ul.rating {
    display: flex;
    list-style-type: none;
}

.orange-color {
    color: #ff6c00 !important;
}

.orange-btn {
    background-color: #ff6c00;
    border-color: #ff6c00;
}

.orange-btn:hover {
    background-color: #ff3200;
    border-color: #ff3200;
}

.edit-profile {
    width: 80%;
    max-width: none;
}

.no-padding-top {
    padding-top: 0 !important;
}

.form-width > div > div > label,
.form-width > div > div > div > label {
    width: 90%;
}

.modal-header.arancio {
    background-color: #ff6c00;
}

.modal-header.arancio > h5 {
    color: white;
}

@media (max-width: 575px) {
    .edit-profile {
        width: auto;
    }
}

.page-box {
    width: 60px;
    margin-left: 1%;
}

.pagination-box {
    display: inline-flex;
}

@media (max-width: 575px) {
    .sparisci {
        display: none;
    }
}

@media (max-width: 991px) {
    .sparisci-2 {
        display: none;
    }

    .nav-padding {
        padding-left: 5%;
    }
}