# Default ignored files
/shelf/
/codeStyles
/.idea
/.gitignore
# Datasource local storage ignored files
/../../../../../:\xampp\htdocs\MercatinoPulci\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

